.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;

}
.container input{
    border-radius: 8px;
    font-size: 1.2rem;
}
.action{
    margin: 0.8rem;
}