.expenses {
    padding: 1rem;
    background-color: rgb(224, 224, 224);
    margin: 2rem auto;
    width: 50rem;
    max-width: 95%;
    /*border-radius: 12px;*/
    /*box-shadow: 0 1px 8px rgba(255, 255, 255, 0.25);*/
}